// Flickr API
// Martyn Race
// ==========================

/*
	Contents: -
	01. Imports
	02. Mixins
	03. Variables
	04. Less
		04.01 Media Query
*/

// 01. Imports
// ==========================

@import url('https://fonts.googleapis.com/css?family=Lato');

// 02. Mixins
// ==========================

.clearfix {
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}

}

.fixed-height(@height: 100px) {
	overflow: hidden;
	height: @height;
}

// 03. Variables
// ==========================

@flickr-api__body--color              : #222;
@flickr-api__body--font-size          : 16px;
@flickr-api__body--font-family        : 'Lato', sans-serif;

@flickr-api__module-inner--background : #eef7fa;
@flickr-api__module-inner--border     : 1px solid #ccc;

@flickr-api__module-thumb--background : fff;

@flickr-api__title--font-size         : 18px;

// 04. LESS
// ==========================

body {
	word-break: break-all;
	margin: 0;
	font-size: @flickr-api__body--font-size;
	font-family: @flickr-api__body--font-family;
	color: @flickr-api__body--color;
}

p,
h3 {
	font-weight: normal;
	margin: 0;
}

h1 {
	font-weight: normal;
	margin-bottom: 40px;
}

img {
	width: 100%;
}

.wrapper {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	.clearfix();
}

.container {
	box-sizing: border-box;
	padding: 0 30px;
	margin-top: 20px;
	.clearfix();

	> .inner {
		.clearfix();
	}

}

.flickr-api {
	margin: 0 -10px;
	.clearfix();

	.item {
		box-sizing: border-box;
		display: block;
		float: left;
		width: 100%;

		.inner {
			box-sizing: border-box;
			margin: 0 10px 20px;
			padding: 20px;
			min-height: 450px; // Keep items in line		
			box-shadow: 0px 0px 1px 0px rgba(0,0,0,1);
			background: @flickr-api__module-inner--background;
		}

		.thumb {
			display: block;
			margin-bottom: 20px;
			.fixed-height(150px); // Keep items in line

			&:hover {
				background: @flickr-api__module-thumb--background;

				img {
					opacity: 0.7;
				}

			}

		}

		.title {
			display: block;
			margin-bottom: 20px;
			.clearfix();

			h3 {
				display: block;
				float: left;
				width: 100%;
				font-size: @flickr-api__title--font-size;
				.fixed-height(70px); // Keep items in line
			}

		}

		.author {
			font-style: italic;
			font-size: @flickr-api__body--font-size;
		}

		.description {
			display: block;
			margin-bottom: 20px;
			.fixed-height(60px); // Keep items in line

			img { // Done to remove img out of description
				display: none;
			}

		}

		.tags {
			display: block;
			.fixed-height(60px); // Keep items in line
		}

	}

}

// 04.1 Media Query
// ======================

@media (min-width: 768px) {

	.flickr-api {

		.item {
			width: 50%;
		}

	}

}

@media (min-width: 979px) {

	.flickr-api {

		.item {
			width: 33.333333%;
		}

	}

}

@media (min-width: 1200px) {

	.flickr-api {

		.item {
			width: 25%;
		}

	}

}